@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-size:18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(231, 231, 231);
}

button{
  /* margin-left:24px; */
  background:#F5B041;
  border-radius:4px;
  padding:2px;
  justify-content:flex-end;
  /* display:flex; */
}


.App.dark{
  font-color: white;
  background: rgb(50, 50, 50);
  background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App light{
  background:yellow;
}

.Items li.in-cart span {
  text-decoration: line-through;
}
